
.left-section {
    margin-left: 50px;
    padding-bottom: 20px;
    width: 60%;
}
.left-section h1 {
    font-size: 50px;
    color: #ededee;
    margin-left: 10px;
}
.left-section p {
    font-size: 20px;
    color: #ededee;
    margin-left: 10px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.btn {
    font-size: 20px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    height: 80px;
}
.btn-primary {
    background-color: #78a4f1;
    color: white;
    border: none;
}
.btn-primary:hover {
    background-color: transparent;
    border: #78a4f1 4px solid;
}
.btn-secondary {
    background-color: #78a4f1;
    color: white;
    border: none;
}
.btn-secondary:hover {
    background-color: transparent;
    border: #78a4f1 4px solid;
}
footer {
    background-color: #081429; 
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    bottom: -120px;
    width: 100%;
}
.footer-content {
    font-size: 14px;
}