/*products here*/
.container {
    max-width: 90%;
    max-height: 100vh;
    padding: 20px;
    background-color: #081429;
    margin: auto;
    margin-top: 30px;
}

.product-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
    justify-content: flex-start; /* Align content to the left */
}

.product-image {
    flex: 1;
    max-width: 100%; /* Make sure image section does not take full width */
}

.product-image img {
    width: 100%;
    border-radius: 5px;
}

.product-details {
    flex: 2; /* Give more space to details */
}

.product-details h2 {
    font-size: 48px;
    margin-bottom: 10px;
}
.container .desc {
    padding: 10px;
    font-size: 16px;
}
.price {
    font-size: 28px;
    color: #e67e22;
    font-weight: bold;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    text-align: center;
}

.buy-btn, .add-cart-btn {
    width: 25%;
    padding: 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bold;
}

.buy-btn {
    background-color: #78a4f1;
    color: white;
    border: none;
}
.buy-btn:hover {
    background-color: #5887d9;
}
.add-cart-btn {
    background-color: #78a4f1;
    color: white;
    border: none;
}
.add-cart-btn:hover {
    background-color: #5887d9;
}
