/* Centering the login form */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.signup-box {
    background: linear-gradient(135deg,  #1a1a2e, #16213e);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 550px;
}
.logo-img {
    width: 150px;
    margin-bottom: 10px;
}
h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
.form-group {
    display: flex;
    justify-content: space-between;
}
input {
    width: 42%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #0f3460;
    color: white;
    outline: none;
}
input.full {
    width: 100%;
}
input::placeholder {
    color: #ccc;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #78a4f1;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #5887d9;
}
.login-link {
    margin-top: 15px;
    font-size: 14px;
}
.login-link a {
    color: #78a4f1;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}
footer {
    background-color: #081429; 
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    bottom: -50px;
    width: 100%;
}
.footer-content {
    font-size: 14px;
}



